.app {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.disliked {
  background-color: #f8d7da; /* Set background color for disliked rows */
}